<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This is the new session page.</h1>
    <form action="/session" method="POST">
      Username: <input type="text" name="username" placeholder="Username">
      Password: <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Log In">
    </form>
  </body>
</html>
