<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This is the home page.</h1>
    <a href="/session/new">Log In</a>
    <a href="/users/new">Sign Up</a>
  </body>
</html>
