body  {
  background: url('https://i.imgur.com/XL2JpzY.jpg')
}


nav {
  background: gold;
  padding: 1.5em;
  /* position: fixed;
  width: 95%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav h1  {
  font-size: 3em;
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  margin: 0;
}

#newEntry {
  background: rgba(255,255,255, .8);
  height: 4em;
  width: 15em;
  margin-top: .7em;
  border: 3px solid black;
  border-radius: 5px;
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
}

#newEntry:hover {
  background: lightgrey;
  transition: .3s;
}


.containAll {
  display: flex;
  flex-direction: row;
}


.entryContain {
  width: 75%;
  margin: 0 auto;
}


.newEntry {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(232, 236, 241, 1);
  border-radius: 10px;
  height: 25em;
  padding: 1.5em;
  margin: .5em;
}

.entryInfo  {
  border-right: 1px solid grey;
  width: 100%;
  padding: .5em;
  text-align: center;
}

.entryInfo h2 {
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  font-size: 3em;
  text-decoration: underline;
}

.entryInfo h3 {
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  font-size: 2em;
}

.entryInfo h5 {
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  font-size: 1.5em;
}

#showEntry  {
  background: rgba(255,255,255, .8);
  height: 5em;
  width: 20em;
  margin-top: .7em;
  /* margin-left: 11.5em; */
  border: 3px solid black;
  border-radius: 5px;
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
}

#showEntry:hover  {
  background: gold;
  transition: .3s;
}


.entryImg {
  width: 100%;
  text-align: center;
}

img {
  height: 20em;
  width: 23em;
  margin-top: 1.8em;
  border: 5px solid gold;
  border-radius: 5px;
}

footer  {
  background: gold;
}
