body  {
  background: url('https://i.imgur.com/WFYenf2.jpg')
}


nav {
  background: gold;
  padding: 1.5em;
  /* position: fixed;
  width: 95%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav h1  {
  font-size: 3em;
  letter-spacing: .4em;
  text-shadow: -1px 1px white;
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  margin: 0;
}

.newEntryLink {
  background: rgba(255,255,255, .8);
  height: 4em;
  width: 15em;
  margin-top: .7em;
  border: 3px solid black;
  border-radius: 5px;
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
}

.newEntryLink:hover {
  background: lightgrey;
  transition: .3s;
}


.containAll {
  display: flex;
  flex-direction: row;
}


.entryContain {
  width: 75%;
  margin: 0 auto;
}


.newEntry {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(232, 236, 241, 1);
  /* border-radius: 10px; */
  height: 25em;
  padding: 1.5em;
  margin: .5em;
  box-shadow: -2px 2px 5px black;
}

.entryInfo  {
  border-right: 1px solid grey;
  width: 100%;
  padding: .5em;
  text-align: center;
}

.entryInfo h2 {
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  font-size: 3em;
  text-decoration: underline;
  text-shadow: -1px 1px white;
}

.entryInfo h3 {
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  font-size: 2em;
  text-shadow: -1px 1px white;
}

.entryInfo h5 {
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  font-size: 1.5em;
  text-shadow: -1px 1px white;
}

#showEntry  {
  background: rgba(255,255,255, .8);
  height: 5em;
  width: 20em;
  margin-top: .7em;
  /* margin-left: 11.5em; */
  border: 3px solid black;
  border-radius: 5px;
  font-family: 'Unica One', cursive;
  font-size: .7em;
  text-transform: uppercase;
}

#showEntry:hover  {
  background: gold;
  transition: .5s;
}


.entryImg {
  width: 100%;
  text-align: center;
}

img {
  height: 21em;
  width: 23em;
  margin-top: 1.8em;
  margin-left: 1em;
  border: 5px solid gold;
  border-radius: 5px;
}

footer  {
  background: gold;
}

/* ===================================
SHOW CSS
====================================== */

.showBody {
  background: url('https://i.imgur.com/WFYenf2.jpg')
}

#newEntry {
  background: rgba(255,255,255, .8);
  height: 4em;
  width: 15em;
  margin-top: .7em;
  border: 3px solid black;
  border-radius: 5px;
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
}

#newEntry:hover {
  background: lightgrey;
  transition: .3s;
}

.showContain  {
  margin: 1em auto;
  width: 80%;
  height: auto;
  background: rgba(232, 236, 241, 1);
  text-align: center;
  padding: 1em;
  box-shadow: -2px 2px 5px black;
}

.showContain h1 {
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  font-size: 4em;
  margin-top: .1em;
  margin-bottom: 0;
  text-decoration: underline;
}

.showContain h2 {
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 1em;
}

.showContain h5 {
  font-family: 'Unica One', cursive;
  margin-bottom: 0;
  font-size: 2em;
}

.showInfoContain  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid grey;
}

.description  {
  width: 30em;
  height: auto;
}

p {
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.5em;
}

#showImg  {
  margin: 2em 0 0 0;
}

#showImg:hover  {
  transform: scale(1.5) translate(-2em);
  transition: .5s ease-out;
}

.buttonContain  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3em;
  border-top: 1px solid grey;
}

.showButtons {
  background: rgba(255,255,255, .8);
  height: 4em;
  width: 15em;
  margin-top: 4em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 2em;
  border: 3px solid black;
  border-radius: 5px;
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
}

.showButtons:hover  {
  background: gold;
  transition: .5s;
}

#deleteButton {
  background: rgba(255,255,255, .8);
  height: 4em;
  width: 15em;
  margin-top: 4em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 2em;
  border: 3px solid black;
  border-radius: 5px;
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
}

#deleteButton:hover {
  background: red;
  transition: .5s;
}


/* ===================================
NEW CSS
====================================== */

.newContain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em;
}

.newText  {
  height: 10em;
  width: 30em;
  resize: none;
  font-size: 1em;
}

.texts  {
  height: 3em;
  width: 14em;
  margin: .2em 0;
  padding: .2em;
  border-radius: 5px;
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
}

#postButton  {
  background: rgba(255,255,255, .8);
  height: 5em;
  width: 20em;
  margin-top: 4em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 2em;
  border: 3px solid black;
  border-radius: 5px;
  font-family: 'Unica One', cursive;
  font-size: 1em;
  text-transform: uppercase;
}

#postButton:hover {
  background: lightgreen;
  transition: .3s;
}


/* ===================================
EDIT CSS
====================================== */


#editDescription  {
  line-height: 2em;
  text-align: center;
}

.editH1 {
  text-shadow: -1px 1px gold;
}

.editTexts  {
  height: 3em;
  width: 14em;
  margin: .2em 0;
  padding: .2em;
  border-radius: 5px;
  font-family: 'Unica One', cursive;
  text-align: center;
  font-size: 1.1em;
  text-transform: uppercase;
}
