<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New-User-Sign-Up</title>
    <!-- CSS -->
      <link rel="stylesheet" href="../css/home.css">
      <link href="https://fonts.googleapis.com/css?family=Pontano+Sans|Unica+One&display=swap" rel="stylesheet">
    <!-- FONTS  -->
  </head>
  <body>
    <div class="homeInfo">
    <form action="/users" method="POST">
        <h3 class="newH3">Username:</h3> <input type="text" name="username" placeholder="Username" class="texts"><br/>
        <h3 class="newH3">Password:</h3> <input type="password" name="password" placeholder="Password" class="texts"><br/>
      <div class="newSub">
        <input type="submit" value="Sign Up!" class="subs">
      </div>
      </div>
    </form>
  </body>
</html>
